# .gitignore

# System files and directories
Application\ Data/
Cookies/
Local\ Settings/
My\ Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start\ Menu/
Templates/

# Other files and directories
.bash_history
.gitconfig
.lesshst
.vscode/
3D\ Objects/
AppData/
Contacts/
Desktop.ini
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
OneDrive/
Pictures/
Saved\ Games/
Searches/
Videos/
